.Navbar {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #c0ebdf;
  background: radial-gradient(circle at center , rgba(230, 128, 39, 0.989) 40%, rgb(214, 110, 110) 50%);
}
.link {
  text-decoration: none;
  list-style: none;
  margin-left: -20px;
  padding: 20px;
  margin-top: 3px;
  font-weight: 600;
  color: #201212;
}
img {
  height: 45px;
  width: 45px;
  margin: 10px 30px 0 60px;
  padding: 2px;
}
.search-input {
  height: 40px;
  width: 380px;
  border-radius: 8px;
  border: none;
  background-color: rgba(241, 241, 241, 0.527);
  margin-top: 20px;
  margin-left: 85px;
  text-indent: 55px;
}
.search-input:focus {
  outline: none;
  box-shadow: 0 0 1px;
}
.search-img {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 20px;
  margin-left: 100px;
}
.right-nav-part {
  position: absolute;
  right: 5px;
  margin-top: 8px;
  
}
.right-nav-part img {
  height: 25px;
  width: 25px;
  position: relative;
  left: -100px;
  margin-right: -10px;
  /* margin-left: 1px; */
  
}
.right-nav-part label {
  position: absolute;
  font-size: small;
}
.profile-label {
  left: -100px;
  top: 35px;
  color: #2b2020;
  
}
.wishlist-label {
  left: -47px;
  top: 37px;
  color: #000000;
}

.bag-label {
  left: 42px;
  top: 37px;
  z-index: 1;
  color: #000000;
  
}
