.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 80px 0 80px;
  /* padding: 20px; */
  box-shadow: inset 0 0 5px 1px rgb(218, 109, 109);
  justify-content: space-between;
}
.wishlist-inner-container {
  height: 18rem;
  width: 15rem;
  /* border: 1px solid black; */
  margin: 16px;
  padding: 5px;
  box-shadow: 0 0 5px 1px rgb(177, 73, 73);
  border-radius: 8px;
  position: relative;
}
.wishlist-inner-container li {
  list-style: none;
  padding: 3px;
}

.wish-image-container {
  height: 115px;
  width: 95%;
  /* border: 1px solid black; */

  margin: 5px;
}

.wish-image-container img {
  height: 100px;
  width: 100px;
}

.wish-description-part {
  box-shadow: inset 1px 1px 5px 1px rgb(163, 187, 207);
  padding: 2px;
}
.wish-icon-section {
  position: absolute;
  bottom: 0px;
  width: 96%;
}
.unfavorite-btn {
  height: 25px;
  width: 25px;
  position: relative;
  right: -130px;
  top: -6px;
}
